---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [315]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [316]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [317]:
pd.set_option('display.max_rows', 10)
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    df_states = pd.DataFrame.from_dict(states, orient='index')
    df_states.columns = ['State']
    df_states['State_label'] = df_states['State'] + '[edit]'
    #print(df_states)
    university_towns = pd.read_csv("university_towns.txt", usecols=[0], 
                                   delim_whitespace=False,delimiter = '?', 
                                   index_col = None, names = ['RegionName'])
    university_towns = university_towns.merge(df_states, how = 'left', left_on = 'RegionName', right_on = 'State_label')
    university_towns = university_towns[['State','RegionName']].ffill()
    university_towns = university_towns[university_towns['RegionName'].isin(df_states['State_label']) == False]
    university_towns['RegionName'] = university_towns['RegionName'].map(lambda x : x[:x.index(' (')] if '(' in x else x )
    university_towns.reset_index(drop=True, inplace=True)
    
    return university_towns

get_list_of_university_towns()

         State     RegionName
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...            ...
512  Wisconsin    River Falls
513  Wisconsin  Stevens Point
514  Wisconsin       Waukesha
515  Wisconsin     Whitewater
516    Wyoming        Laramie

[517 rows x 2 columns]

In [318]:
pd.set_option('display.max_rows', 100)
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    gdp = pd.read_excel('gdplev.xls', header=6, 
                        usecols='E:G', 
                        names = ['Quarter','GDP in billions of current dollars', 'GDP in billions of chained 2009 dollars'])
    
    gdp = gdp[gdp['Quarter'] >= '2000q1'].reset_index(drop = True)
    answer = []
    for id in gdp[gdp['Quarter'] <= '2015q4'].index:
        if ( gdp.loc[id]['GDP in billions of chained 2009 dollars'] > gdp.loc[id + 1]['GDP in billions of chained 2009 dollars']
             and gdp.loc[id+1]['GDP in billions of chained 2009 dollars'] > gdp.loc[id + 2]['GDP in billions of chained 2009 dollars']) :
            answer.append(gdp.loc[id + 1]['Quarter'])
    
    return min(answer)

get_recession_start()

'2008q3'

In [319]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    gdp = pd.read_excel('gdplev.xls', header=6, 
                        usecols='E:G', 
                        names = ['Quarter','GDP in billions of current dollars', 'GDP in billions of chained 2009 dollars'])
    
    gdp = gdp[gdp['Quarter'] >= '2000q1'].reset_index(drop = True)
    answer = []
    for id in gdp[(gdp['Quarter'] >= '2008q2') & (gdp['Quarter'] <= '2015q4')].index:
        if ( gdp.loc[id]['GDP in billions of chained 2009 dollars'] < gdp.loc[id + 1]['GDP in billions of chained 2009 dollars']
             and gdp.loc[id+1]['GDP in billions of chained 2009 dollars'] < gdp.loc[id + 2]['GDP in billions of chained 2009 dollars']) :
            answer.append(gdp.loc[id+2]['Quarter'])
    
    return min(answer)

get_recession_end()

'2009q4'

In [320]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    gdp = pd.read_excel('gdplev.xls', header=6, 
                        usecols='E:G', 
                        names = ['Quarter','GDP in billions of current dollars', 'GDP in billions of chained 2009 dollars'])
    
    gdp = gdp[(gdp['Quarter'] >= '2008q3') & (gdp['Quarter'] <= '2009q4')].reset_index(drop = True)
    
    #answer = gdp[gdp['GDP in billions of chained 2009 dollars'] == gdp['GDP in billions of chained 2009 dollars'].min()]
    answer = gdp.loc[gdp['GDP in billions of chained 2009 dollars'].idxmin()]['Quarter']
    
    return answer

get_recession_bottom()

'2009q2'

In [321]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    housing_data = pd.read_csv('City_Zhvi_AllHomes.csv')
    drop_columns = ['1996-04','1996-05','1996-06',
                    '1996-07','1996-08','1996-09',
                    '1996-10','1996-11','1996-12',
                    '1997-01','1997-02','1997-03',
                    '1997-04','1997-05','1997-06',
                    '1997-07','1997-08','1997-09',
                    '1997-10','1997-11','1997-12',
                    '1998-01','1998-02','1998-03',
                    '1998-04','1998-05','1998-06',
                    '1998-07','1998-08','1998-09',
                    '1998-10','1998-11','1998-12',
                    '1999-01','1999-02','1999-03',
                    '1999-04','1999-05','1999-06',
                    '1999-07','1999-08','1999-09',
                    '1999-10','1999-11','1999-12',
                    'RegionID','Metro','CountyName','SizeRank']
    housing_data.drop(drop_columns, inplace = True, axis = 1)
    housing_data['State'] = housing_data['State'].map(states)
    housing_data.set_index(["State","RegionName"], inplace = True)
    housing_data.columns = (pd.to_datetime(housing_data.columns)
                            .to_period('Q')
                            .to_series()
                            .astype(str))
    housing_data.columns = map(str.lower, housing_data.columns)
    answer = housing_data.groupby(level = 0, axis = 1).mean()
    
    return answer

In [348]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    recession_start = get_recession_start()
    recession_bottom = get_recession_bottom()
    
    housing_data = convert_housing_data_to_quarters()
    university_towns = get_list_of_university_towns()
    
    housing_data['recession_price_change'] = housing_data[recession_bottom] - housing_data[recession_start]
    housing_data['price_ratio'] = housing_data['2008q2'] / housing_data[recession_bottom]

    all_towns_housing_data = pd.merge(housing_data,
                                              university_towns, 
                                              how='left',
                                              on = ["State", "RegionName"],
                                              indicator=True)
    university_towns_housing_data = all_towns_housing_data[all_towns_housing_data['_merge'] == 'both']
    non_university_towns_housing_data = all_towns_housing_data[all_towns_housing_data['_merge'] == 'left_only']
    
    answer = ttest_ind(university_towns_housing_data['recession_price_change'],
             non_university_towns_housing_data['recession_price_change'], nan_policy='omit')
    
    university_towns_mean = university_towns_housing_data['price_ratio'].mean()
    non_university_towns_mean = non_university_towns_housing_data['price_ratio'].mean()

    if answer.pvalue < 0.01:
        difference = True
    else:
        difference = False
    
    if university_towns_mean < non_university_towns_mean:
        better = "university town"
    else:
        better = "non-university town"
    
    return difference,answer.pvalue,better

run_ttest()

(True, 0.004325214853459962, 'university town')